/* Global Theme */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-position: inside;  
}

/* Set the basic font styles for the whole page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #061723; 
    color: #d3d3d3; 
    line-height: 1.6;
}

/* Apply Lato font for everything */
body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;  
    color: #d3d3d3; 
    line-height: 1.6;
}

h1 {
    font-family: 'Lato', sans-serif; 
    font-weight: 900;  
    font-size: 3rem;   
    color: #fff;   
    margin-bottom: 20px;
}

h2, h3, h4, h5, h6 {
    font-weight: 700;  
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

a {
    color: #0073cf;  
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2, h3 {
    font-weight: 700;  
    color: #0073cf;   
}

/* Header Section Styling */
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    background-color: #071622; 
    padding: 20px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;
}

/* Adjusting content below header */
body {
    padding-top: 100px; 
}

header h1 {
    color: #0073cf; 
    font-size: 2.5rem;
    margin: 0;
}

header .back-button {
    text-decoration: none;
    color: white;
    background-color: #092234;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
}

header .back-button:hover {
    background-color: #0C2D45;
    
}

/* Hero Section Styling */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 0;
    width: 100%;
}

/* Hero Container (Image + Text) */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
}

/* Image Styling */
.hero-img {
    width: 350px;
    height: auto;
    margin-right: 50px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

/* Text Styling */
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Title Styling */
.hero-title {
    font-size: 3rem;
    font-weight: 700;
    color: #d3d3d3; 
    margin: 0;
}

/* Subtitle Styling */
.hero-subtitle {
    font-size: 2rem;
    font-weight: 400;
    color: #1c74d2; 
    margin-top: 5px;
}

/* Link Container Styling */
.link-container {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    text-align: center;
}

.link-container a {
    color: #fff; 
    font-size: 0.8rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

/* Web Link Style (Blue) */
.web-link-container {
    background-color: #0073cf; 
}
.web-link-container:hover {
    background-color: #005bb5; 
}

.web-link-container a {
    color: #fff; 
}

/* GitHub Link Style (Purple) */
.github-link-container {
    background-color: #6e5494; 
}
.github-link-container:hover {
    background-color: #5a447c; 
}

.github-link-container a {
    color: #fff; 
}

/* External Link Icon Styling */
.external-link-icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

/* Icon colors on hover */
.web-link-container a:hover .external-link-icon,
.github-link-container a:hover .external-link-icon {
    filter: brightness(1.3); 
}


/* Project Details Section Styling */
.project-details {
    text-align: center;
    background-color: #092234; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); 
    max-width: 800px;
    margin: 0 auto;
}

.project-details p {
    font-size: 1.1rem;
    color: #d3d3d3; 
    margin-bottom: 20px;
    line-height: 1.8;
}

.project-details h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #0073cf; 
    margin-top: 20px;
}

.project-details ul {
    list-style-type: disc;
    text-align: center;
    margin-top: 20px;
}

.project-details ul li {
    margin-bottom: 10px;
}

/* Project Image Grid */
.photo-grid {
    display: grid;
    grid-gap: 15px; 
    padding: 10px; 
    max-width: 70vw;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr); 
}

/* Each grid item */
.photo-item {
    position: relative; 
    overflow: hidden; 
    padding-top: 56.25%;
}

/* Image styling */
.photo-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}


/* Footer Section Styling */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    position: relative;
    margin-top: auto;
    text-align: center;
    bottom: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

footer p {
    color: #fff;
    margin: 0;
    font-size: 1rem;
    margin-bottom: 10px;
}

.social-media-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #0073cf;
}

.social-icon i {
    transition: transform 0.3s ease;
}

.social-icon:hover i {
    transform: scale(1.1);
}

/* Media query for small screens */
@media (max-width: 768px) {
    header {
        flex-direction: column; 
        text-align: center;
        padding: 15px;
    }

    header .back-button {
        font-size: 0.8rem;
        padding: 1px 15px;
    }

    .project-details {
        padding: 15px;
        margin:  15px;
    }

    body {
        padding-top: 180px; 
    }

    .hero-container {
        flex-direction: row;
        align-items: center;
    }

    .hero-img {
        display: none;

    }

    .photo-grid {
        grid-template-columns: repeat(1, 1fr); 
        max-width: 90vw;

    }

}
